.calculator {
  width: 320px;
  height: 520px;
  background: black;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px #aaa;
}

.calculatorKeypad {
  height: 400px;

  display: flex;
}

.inputKeys {
  width: 240px;
}

.functionKeys {
  display: flex;
}

.digitKeys {
  background: #e0e0e7;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.calculatorKey {
  width: 80px;
  height: 80px;
  border-top: 1px solid #777;
  border-right: 1px solid #666;
  text-align: center;
  line-height: 80px;
}
.functionKeys .calculatorKey {
  font-size: 2em;
}
.functionKeys .keyMultiply {
  line-height: 50px;
}
.digitKeys .calculatorKey {
  font-size: 2.25em;
}
.digitKeys .key0 {
  width: 160px;
  text-align: left;
  padding-left: 32px;
}
.digitKeys .keyDot {
  padding-top: 1em;
  font-size: 0.75em;
}
.operatorKeys .calculatorKey {
  color: white;
  border-right: 0;
  font-size: 3em;
}

.functionKeys {
  background: linear-gradient(
    to bottom,
    rgba(202, 202, 204, 1) 0%,
    rgba(196, 194, 204, 1) 100%
  );
}
.operatorKeys {
  background: linear-gradient(
    to bottom,
    rgba(252, 156, 23, 1) 0%,
    rgba(247, 126, 27, 1) 100%
  );
}
